<header>
  <%= image_tag("http://www.castanet.net/events/photos/superbowl_party_duff_8992.jpg", alt: "Super Bowl!", class: "round") %>
  <nav class="round">
    <ul>
      <li><%= link_to "Place Bets", '/users/new' %></li>
      <li><%= link_to "Edit", '/editbets' %></li>
      <li><%= link_to "Scoreboard", '/scoreboard' %></li>
    </ul>
  </nav>
</header>